<div>
    <div class="menuItem" (click)="changeColor('red')" style="background-color: red;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('green')" style="background-color: green;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#f3ec96')" style="background-color: #f3ec96;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#f28be8')" style="background-color: #f28be8;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#8b0a25')" style="background-color: #8b0a25;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#101a35')" style="background-color: #101a35;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#c06039')" style="background-color: #c06039;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#11301d')" style="background-color: #11301d;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#f76e37')" style="background-color: #f76e37;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#8c8377')" style="background-color: #8c8377;">MENU ITEM</div>
    <div class="menuItem" (click)="changeColor('#c0c2a2')" style="background-color: #c0c2a2;">MENU ITEM</div>
</div>
